.home{
    margin: auto;
    height: 100vh;
    .first-box{
        height:100vh;
        background: url(../../images/img332.jpg) center center;
        background-size: cover;
    }
    .first-list{
        position: absolute;
        width: 82%;
        top: 3%;
        right:10%;
        line-height: 45px;
        text-align: right;
        list-style: none;
        li{
            float: right;
        }
        img{
            height: 300px;
            opacity: .9;
        }
    }
    .second-box{
        height: 100vh;
        background: url(../../images/home-b0.jpg)  20% center no-repeat;
        background-size: 450px;
        p{
            float: right;
            margin-right: 12%;
            margin-top: 6%;
            img{
                height: 366px;
            }
        }
    }

}
